<h2>Hai - <%= @booking.user.username%> </h2>

	<b>Your Room was created, but still not confirmed</b>

<table border="1">
	<thead>
		<tr>
			<th>Room name</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<td><%= @booking.room.name%></td>
		<td><%= @booking.start_date %></td>
		<td><%= @booking.end_date %></td>
		<td><%= @booking.price %></td>
	</tbody>
</table>