<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <div class="col-md-6">
<h1><i class="glyphicon glyphicon-th-list"></i> Listing Rooms</h1>

<!-- <div id="low_to_high">Low to High</div>
<div id="high_to_low">High to Low</div> -->

<%# if @rooms.is_authorized == true%>
  <table class="table table-striped" id="roomsList">
    <thead>
      <tr>
        <th><b style="color:red;">Name</b></th>
        <!-- <th>Description</th>
        <th>Price</th>
        <th>Rules</th> -->
        <th><b style="color:red;">Address</b></th>
        <th><b style="color:red;">City</b></th>
        <th><b style="color:red;">Owner Name</b></th>
        <!-- <th>Images</th>      
        <th>User</th>
        <th>Latitude</th>
        <th>Longitude</th> -->
        <th></th>
      </tr>
    </thead>

    <tbody >
      <ul>
        <% @rooms.each do |room| %>
          <tr>
            <%# if !room.is_authorized == false%>
              <td><b style="color:blue;"><%= link_to room.name, room %></b></td>
              <!-- <td><%= room.description %></td>
              <td><%= room.price %></td>
              <td><%= room.rules %></td> -->
              <td><%= room.address %></td>
              <td><%= room.city.name %></td>
              <td><%= room.user.username%></td>
              <!-- <td><%= room.images %></td>        
              <td><%= room.user_id %></td>
              <td><%= room.latitude %></td>
              <td><%= room.longitude %></td> -->

              
              <% if user_signed_in?%>
                <% if can? :update, room%>
                  <td><%= link_to edit_room_path(room) do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                      <%end%>
                <% end %>
                <% if can? :destroy, room%>
                  <%= link_to room, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="glyphicon glyphicon-trash"></i>
                    <%end%>
                    
                  </td>
                <% end %>
              <%end%>
              <%# end %>
          </tr>
        <% end %>
      </ul>
    </tbody>
  </table>
<%#end%>
 <%= will_paginate @room %>

<br>

<% if user_signed_in? && (can? :create, Room.new)%>
  <%= link_to  new_room_path, class: "btn btn-primary"  do%>
      <i class="glyphicon glyphicon-plus"></i> Add Room
  <%end%>
<% end %>

</div>

<div class="col-md-6">

  
    
     <div id="low_to_high">Low to High</div>
     <div id="high_to_low">High to Low</div>
  

<div id="rooms">
   <% City.all.each do |city| %>
    <%#= radio_button_tag "city", city.id %>
    <%= check_box_tag city.name, city.id %> 
    <label for="<%= city.name %>"> <%= city.name %> </label>
   <% end %>
</div><br/>


<title>Google Maps Multiple Markers</title>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyCzbuY_r3-Uj_RIBsxfKP0WqluXS8dTo5o"></script>
  <div id="map" style="height: 400px; width: 500px;">
</div>




<script>
  

    var locations = [];
   
  <% @rooms.each do |room|%>
    locations.push([<%= room.latitude %>,<%= room.longitude %>])
  <%end%>
  // console.log(locations);

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(21.146633, 79.088860),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  
  var lowHandle = document.getElementById('low_to_high');
  console.log(lowHandle);
  var highHandle = document.getElementById('high_to_low');
  console.log(highHandle);
  var roomsListHandle = document.getElementById('roomsList');

  function roomHtml(results){
    roomsList.innerHTML = "";
    results.forEach(function(result){
      console.log(result);
      var li = document.createElement('li');
      var a = document.createElement('a');
      var href = document.createAttribute('href');

      href.value =`rooms/${result.id}`;
      a.setAttributeNode(href);
      var text = document.createTextNode([result.name ,  result.price]);
      a.appendChild(text);
      li.appendChild(a);
      console.log(li);
      roomsList.appendChild(li);
  });

  }

  lowHandle.addEventListener('click',function(){

    xhr = new XMLHttpRequest();
    xhr.open('GET', '../ajax/low_to_high');
    xhr.onreadystatechange = function(){
      if(xhr.readyState == 4 && xhr.status == 200){
        roomHtml(JSON.parse(xhr.responseText));
      }
    }

    xhr.send();
  },false);

  highHandle.addEventListener('click',function(){
    xhr = new XMLHttpRequest();
    xhr.open('GET', '../ajax/high_to_low');
    xhr.onreadystatechange = function(){
      if(xhr.readyState == 4 && xhr.status == 200){
        roomHtml(JSON.parse(xhr.responseText));
      }
    }

    xhr.send();
  },false);

    var roomsHandle = document.getElementById('rooms');
    var roomInput = roomsHandle.getElementsByTagName('input');
    // console.log(roomInput);

    roomsHandle.addEventListener('click',function(){
      var roomSelected = [];
      for(var i = 0; i < roomInput.length; i++){
      if(roomInput[i].checked){
        roomSelected.push(roomInput[i].value);
      }
    }
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '../ajax/find_by_city?city_ids=' + roomSelected.join(","));
      xhr.onreadystatechange = function(){
        if(xhr.readyState == 4 && xhr.status == 200){
          roomHtml(JSON.parse(xhr.responseText));
        }
      }
      xhr.send();
    },false);
</script>
</div>
</div>