<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>
<p>Owner name - <%=@room.user.username %></p>
<p>
  <strong>Image:</strong>
  <%#= image_tag @room.images_url %>
  <img src="<%=@room.images_url %>" style="width:40cm;height:12cm;">
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @room.rules %>
</p>

<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>



<p>
  <strong>City:</strong>
  <%= @room.city.name %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%#= @room.user_id %>
</p>
 -->
<p>
  <strong>Latitude:</strong>
  <%= @room.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @room.longitude %>
</p>

<p>
  <strong>Amenities for the room</strong>
  <% if @room.amenities.empty?%>
    <p>Their is no amenities for this room</p>
  <% else %>
    <ul>
      <% @room.amenities.each do |amenity| %>
        <li><%= amenity.name %> - <%= amenity.description %></li>
      <% end %>
    </ul>
  <%end%>
</p>


<div class="col-md-5">
  <div class="page-header">
    <h2>Location</h2>
  </div>
<iframe width="500"
  height="450"
  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBipgxMczyujD8knh17CWPulk7h2shwOF8&q=<%= @room.name %>,<%= @room.address %>">
 </iframe>

</div>

</div>



<h4>Room Review</h4>
<% room=0 %>
<% @room.reviews.each do |review|%>
    <%
     room = room +(((review.food_rating + review.cleanliness_rating + review.safety_rating + review.facility_rating + review.locality_rating)/5.0).to_f)/(@room.reviews.length) %>
<%end%>
<h2><%= room.round(1)%></h2>

<% if user_signed_in?%>
<% if can? :update, @room%>
  <%= link_to 'Edit', edit_room_path(@room) %>
<% end %>



<h2>Reviews</h2>
<% @room.reviews.each do |review|%>
  <% if current_user.id == review.user_id || (current_user.id == @room.user_id) %>
  
 
  <b>Review:  </b><%= review.review%><br/>
  <b>Food Rating:  </b><%=review.food_rating%><br/>
  <b>Cleanliness Rating:  </b><%=review.cleanliness_rating%><br/>
  <b>Safety Rating:  </b><%=review.safety_rating%><br/>
  <b>Facility Rating:  </b><%=review.facility_rating%><br/>
  <b>Locality Rating:  </b><%=review.locality_rating%><br/>
  <h2>Average:  <%= ((review.food_rating + review.cleanliness_rating + review.safety_rating + review.facility_rating + review.locality_rating)/5.0).to_f %></h2>

<%= link_to "Edit", edit_review_path(review) %> | <%= link_to "Delete", review_path(review.id), method: :delete, data: {confirm:"Are you sure?"}%><br/>


  <% end %>
<%end%>

<% @room.special_prices.each do |spl|%>
  <% if !(spl.end_date < Date.today) %>

<h2>Your special prices</h2>

<% if @room.special_prices.empty?%>
  <b>You not added any special prices for your room</b>
    <%else%>
      <table border="1">
        <thead>
          <tr>
            <th>Start Date</th>
            <th>End Date </th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <%# @room.special_prices.each do |spl|%>
            <%# if !(spl.end_date < Date.today) %>
              <tr>
                <td><%=spl.start_date %></td>
                <td><%=spl.end_date %></td>
                <td><%=spl.price %></td>
              </tr>
            <%#end%>
          <%#end%>
        </tbody>
        
      </table>
    <%end%>

  <%end%>
<%end%>


<% if @room.user_id == current_user.id%>

  <h2>Special prices</h2>

  <%= form_for @special_price do |f|%>

    <label>Start Date</label><br/>
    <%= f.date_select :start_date%><br/>

    <label>End Date</label><br/>
    <%= f.date_select :end_date%><br/>

    <label>Price</label><br/>
    <%= f.number_field :price %><br/>

    <%= f.hidden_field :room_id, value: @room.id %>

    <%= f.submit "Add Special Price"%>

  <% end %>
<% end %>  



<h2>Book Your Room</h2>



<%= form_for @booking do |f|%>
  
  <label>Start Date</label><br/>
  <%= f.date_select :start_date%><br/>
  <span id="startDateMsg"></span><br/>

  <label>End Date</label><br/>
  <%= f.date_select :end_date%><br/>
  <span id="endDateMsg"></span><br/>

  <% if current_user.role.name == "admin" %>
    <label></label>User<br/>
    <%= f.collection_select :user_id, User.all, :id, :username %> <br/>
  <% end %>

  <%= f.hidden_field :room_id, value: @room.id %>

  <%= f.submit "Book" %>
<%end%>

<script>

  var startDateHandle = document.getElementById('booking_start_date');
  var endDateHandle = document.getElementById('booking_end_date');

  var startDateMsgHandle = document.getElementById('startDateMsg');
  var endDateMsgHandle = document.getElementById('endDateMsg');
  var today = new Date();

  startDateHandle.addEventListener('blur',function(){
    if(startDateHandle.value == ""){
        startDateMsgHandle.innerHTML = "Can't be blank";
    }else if(startDateHandle.value < today){
        startDateMsgHandle.innerHTML = "Start Date must be not less than today";
    }else{
        startDateMsgHandle.innerHTML = "";
    }
  },false);

  endDateHandle.addEventListener('blur',function(){
    if(endDateHandle.value == ""){
        endDateMsgHandle.innerHTML = " Can't be blank";
    }else if(endDateHandle.value < startDateHandle.value){
        endDateMsgHandle.innerHTML = "End Date must be greater than Start Date";
    }else{
        endDateMsgHandle.innerHTML = "";
    }
  },false);
  
</script>

<% end %>

<% if can? :create, Review.new %>

<% if user_signed_in? && (current_user.bookings.any?)%>
  <% @room.bookings.each do |booking|%>
    <% if booking.user_id == current_user.id%>
      <% if booking.end_date <= Date.today%>

      <h2>Review</h2>

      <%= form_for(@review) do |f| %>
        

        <div class="field">
          <%= f.label :review %><br/>
          <%= f.text_area :review %>
          <span id="reviewMsg"></span>
        </div>
        <div class="field">
          <%= f.label :food_rating %><br/>
          <%=f.radio_button :food_rating, 1 %> 1
          <%=f.radio_button :food_rating, 2 %> 2
          <%=f.radio_button :food_rating, 3 %> 3
          <%=f.radio_button :food_rating, 4 %> 4
          <%=f.radio_button :food_rating, 5 %> 5<br/>
        </div>
        <div class="field">
          <%= f.label :cleanliness_rating %><br/>
          <%=f.radio_button :cleanliness_rating, 1 %> 1
          <%=f.radio_button :cleanliness_rating, 2 %> 2
          <%=f.radio_button :cleanliness_rating, 3 %> 3
          <%=f.radio_button :cleanliness_rating, 4 %> 4
          <%=f.radio_button :cleanliness_rating, 5 %> 5<br/>
        </div>
        <div class="field">
          <%= f.label :safety_rating %><br/>
          <%=f.radio_button :safety_rating, 1 %> 1
          <%=f.radio_button :safety_rating, 2 %> 2
          <%=f.radio_button :safety_rating, 3 %> 3
          <%=f.radio_button :safety_rating, 4 %> 4
          <%=f.radio_button :safety_rating, 5 %> 5<br/>
        </div>
        <div class="field">
          <%= f.label :facility_rating %><br/>
          <%=f.radio_button :facility_rating, 1 %> 1
          <%=f.radio_button :facility_rating, 2 %> 2
          <%=f.radio_button :facility_rating, 3 %> 3
          <%=f.radio_button :facility_rating, 4 %> 4
          <%=f.radio_button :facility_rating, 5 %> 5<br/>
        </div>
        <div class="field">
          <%= f.label :locality_rating %><br/>
          <%=f.radio_button :locality_rating, 1 %> 1
          <%=f.radio_button :locality_rating, 2 %> 2
          <%=f.radio_button :locality_rating, 3 %> 3
          <%=f.radio_button :locality_rating, 4 %> 4
          <%=f.radio_button :locality_rating, 5 %> 5<br/>
        </div>

          <%= f.hidden_field :room_id, value:@room.id %>

          <%= f.submit "Add Review" %>
      <% end %>
      <%end%>
    <%end%>
  <%end%>
<%end%>
<%end%>

<%= link_to 'Back', rooms_path %>

<script>
        reviewHandle = document.getElementById('review_review');
        reviewMsgHandle = document.getElementById('reviewMsg');

        reviewHandle.addEventListener('blur',function(){
          if(reviewHandle.value == ""){
              reviewMsgHandle.innerHTML = "can't be blank";
          }else if(reviewHandle.value.length < 150){
              reviewMsgHandle.innerHTML = "review should be more than 150 characters";
          }else{
              reviewMsgHandle.innerHTML = "";
          }
        },false);
</script>